<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h1 class="mt-4">Movie Register Page</h1>
		<form th:action="@{/movie/register}" th:method="post">
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title" placeholder="Enter Title">
			</div>
			<div class="form-group fileForm">
				<label>Image Files</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input files" id="fileInput" multiple>
					<label class="custom-file-label" data-browse="Browse"></label>
				</div>
			</div>
			<div class="box">
			
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<script>
			$(document).ready(function(e){
				
			});
		</script>
	</th:block>
</th:block>
</html>
